@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/global/global" as *;

.update-buttons__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  margin-bottom: 32.45rem;
}

.update-save__button {
  @include create-account-button;
  font-size: 1.25rem;
}

.update-cancel__button {
  @include auth-button;
  text-decoration: none;
  position: relative;
  overflow: hidden;

  &--text {
    position: relative;
    z-index: 2;
    font-family: roboto-regular;
    font-size: 1.25rem;
  }
}

