// Colour

// Primary: used in dominant background color across all merketing/communications and to highlight/offset lighter colored products
$Midnight: #0d2155;
$Royal: #0c32a4;
$Dell-Blue: #0672cb;
$Dell-Light-Blue: #80c7fb;
$Dell-Dark-Blue: #243b75;
$Deep-Green: #244739;
$Hunter: #247554;
$Compliant-bg: #e4ffd6;
$Compliant-Text: #247554;
$Raisin: #2a145a;
$Plum: #612cb0;
$Burgandy: #691d3f;
$White: #fafdfe;
$True-White: #ffffff;
$Black: #000000;
$Off-Black: #404040;
$Light-Grey: #e8e8e8;
$Shale: #f3f2f2;

// Secondary: used in patterns, color spectrum and illustrations for contrast and color range
$Sky: #80c7fb;
$Basil: #37cc5c;
$Lime: #9fff99;
$Amethyst: #8e5cef;
$Purple: #8280FF;
$Lavendar: #beafff;
$Scarlet: #cc0000;
$Light-Scarlet: #ffbbbb;
$Coral: #e1633f;
$Apricot: #f4bb5e;
$Best-Buy-Yellow: #fcec5d;
$Newegg-Orange: #ec9d4a;
$Attention-Text: #ffb700;
$Attention-bg: #fff8b9;

// Tertiary: used for text, the Dell Element, to highlight or offset darker products and as a backdrop for photo subjects
$Glacier: #e5f8ff;
$Tea-Green: #e4ffd6;
$Periwinkle: #deddff;
$Sand: #fbeece;
$Grey: #969696;
$Border-Grey: #e7e7ed;
$Table-Row-Text: #272833;