@import "../../styles/partials/mixins";
@import "../../styles/partials/typography";
@import "../../styles/partials/variables";

.landing-page {
  background-color: #0d2155;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: white;
  height: 100vh;
  padding: 0 6rem;
}

main {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  &__page-header {
    @include page-header;
    margin-bottom: 2rem;
  }

  &__subheader {
    @include subheader;
  }
}

.card-container {
  min-width: 17rem;
  width: 22.375rem;
}

.card {
  display: flex;
  flex-direction: column;
  height: fit-content;
  max-width: 80%;

  &__features {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(
      180deg,
      rgb(72, 128, 255) 0%,
      rgb(43, 77, 153) 100%
    );
    border-radius: 8px;
    margin-right: 1rem;
    padding: 1rem;

    &--img {
      display: flex;
      justify-content: space-around;
      margin-bottom: 0.5rem;
    }

    &--text {
      display: flex;
      justify-content: space-around;

      & p {
        text-align: center;
      }
    }
  }

  &__benefits {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(
      180deg,
      rgb(72, 128, 255) 0%,
      rgb(43, 77, 153) 100%
    );
    border-radius: 8px;
    margin: 0.5rem 1rem 0rem 0rem;
    padding-bottom: 1rem;

    &--img {
      display: flex;
      justify-content: space-around;
      margin: 1rem 0 -1.5rem 0;
    }
    &--img {
      display: flex;
      justify-content: space-around;
      margin: 1rem 0 -1.5rem 0;
    }

    &--text {
      display: flex;
      justify-content: space-around;

      & p {
        text-align: center;
      }
    }
  }
}
.login {
  text-decoration: none;

  &__cta {
    @include auth-button;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &--text {
      font-size: 1.5rem;
      z-index: 2;
    }

    &--icon {
      z-index: 2;
    }
  }
}

.dell-logo {
  height: 80%;
  justify-content: center;
}

.dell-molecules {
  box-shadow: var(--enhanced-drop-shadow);
  height: 508px;
  width: 641px;

  &__overlap {
    height: 508px;
    position: relative;

    &--group {
      height: 508px;
      left: 0;
      position: absolute;
      top: 100px;
      width: 641px;
    }
  }
}

.molecule {
  background: linear-gradient(
    180deg,
    rgb(43, 77, 153) 0%,
    rgb(72, 128, 255) 100%
  );
  position: absolute;
}

.m1 {
  border-radius: 126.11px/128.6px;
  height: 257px;
  left: 0;
  top: 251px;
  width: 252px;
}

.m2 {
  border-radius: 113.67px/114.91px;
  height: 230px;
  left: 228px;
  top: 236px;
  width: 227px;
}

.m3 {
  border-radius: 93.34px/98.32px;
  height: 197px;
  left: 170px;
  top: 152px;
  width: 187px;
}

.m4 {
  border-radius: 131.09px/131.92px;
  height: 264px;
  left: 342px;
  top: 75px;
  width: 262px;
}

.m5 {
  border-radius: 92.1px/95px;
  height: 190px;
  left: 368px;
  top: 0;
  width: 184px;
}

.m6 {
  border-radius: 69.28px/71.35px;
  height: 143px;
  left: 503px;
  top: 0;
  width: 139px;
}

.m7 {
  border-radius: 51px/52.5px;
  height: 105px;
  left: 245px;
  top: 140px;
  width: 102px;
}

.integrity {
  height: 35px;
  align-self: flex-start;
  padding-left: 1rem;
  padding-top: 0.25rem;
}