@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/global/global" as *;

.dashboard {
    &__container {
        min-width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__tiles {
        margin-left: 1.75rem;
        display: flex;
        justify-content: column;
        gap: 1rem;
    }

    &__deviated-products {
        max-width: 11rem;
        min-width: 11rem;
        height: 8.75rem;
        box-shadow: 2px 2px 6px 0px #00000040;
        padding: 1.5rem;
        background-color: $True-White;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        flex-direction: row;
          
        &--container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &--heading {
          font-family: roboto-light;
          font-size: 0.9rem;
        }
    
        &--count {
          font-family: roboto-bold;
          font-size: 2rem;
          line-height: 1.75rem;
        }

        &--icon {
            width: 2.9325rem;
            height: 2.9325rem;
        }
    }

    &__average-deviation {
        max-width: 11rem;
        min-width: 11rem;
        height: 8.75rem;
        box-shadow: 2px 2px 6px 0px #00000040;
        padding: 1.5rem;
        background-color: $True-White;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        flex-direction: row;
          
        &--container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &--heading {
          font-family: roboto-light;
          font-size: 0.9rem;
        }
    
        &--count {
          font-family: roboto-bold;
          font-size: 2rem;
          line-height: 1.75rem;
        }

        &--icon {
            width: 2.9325rem;
            height: 2.9325rem;
        }
    }

    &__compliance-rate {
        max-width: 11rem;
        min-width: 11rem;
        height: 8.75rem;
        box-shadow: 2px 2px 6px 0px #00000040;
        padding: 1.5rem;
        background-color: $True-White;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        flex-direction: row;
          
        &--container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &--heading {
          font-family: roboto-light;
          font-size: 0.9rem;
        }
    
        &--count {
          font-family: roboto-bold;
          font-size: 2rem;
          line-height: 1.75rem;
        }

        &--icon {
            width: 2.9325rem;
            height: 2.9325rem;
        }
      }

    &__bestbuy-deviated-products {
        width: 9.3125rem;
        height: 7.25rem;
    }

    &__details {
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    
    &__dashboard-heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 1rem;
        box-shadow: 2px 2px 6px 0px #00000040;
        padding: 1.25rem;
        background-color: $True-White;
        gap: 0.5rem;
        width: 49.5rem;
    }

    &__bestbuy-container,
    &__newegg-container{
        display: flex;
        flex-direction: row;
    }
}

.dashboard-widget {
  display: flex;
  justify-content: center;
  margin-right: 0;

  &__cart-icon {
    width: 4.5rem;
    height: 4.5rem;
  }

  &__container {
    max-width: 14.125rem;
    min-width: 14.125rem;
    height: 7.6875rem;
    box-shadow: 2px 2px 6px 0px #00000040;
    padding: 1.5rem;
    background-color: $True-White;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1rem;
    box-shadow: 2px 2px 6px 0px #00000040;
    padding: 1.25rem;
    background-color: $True-White;
    margin-left: 1.7rem;
    width: 47.9375rem;
  
    &--directions {
      font-family: roboto-regular;
      color: $Grey;
      font-size: 0.9rem;
    }
  }

  &__icon-container {
    background-color: rgba($Purple, 0.5);
    border-radius: 1.4375rem;
    width: 4.4525rem; 
    height: 4.4525rem;
    margin-left: 1rem
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--heading {
      font-family: roboto-light;
      font-size: 0.9rem;
    }

    &--count {
      font-family: roboto-bold;
      font-size: 2rem;
      line-height: 1.75rem;
    }
  }
}

.product-list__details {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  width: 100%;
}

strong {
  font-family: roboto-bold;
  font-size: 0.9rem;
}

.dashboard-heading__content {
  display: flex;
  justify-content: space-between;
  width: 100%;

    &--heading,
    &--date {
        font-family: roboto-regular;
        font-size: 1.5rem;
        color: $Midnight;
    }
}

// Table styling
.dashboard__table-container {
    margin-bottom: 1rem;
}

.dashboard-list__table {
    @include flex-center;
    margin-top: 2rem;
    width: auto;
}

.dashboard-table {
    display: flex;
    box-shadow: 2px 2px 6px 0px #00000040;
    border-radius: 1rem;
    flex-direction: column;
    width: auto;
    gap: 1rem;
    border-collapse: collapse;
  
    &__head {
      color: $True-White;
      height: 3.5rem;
      width: 100%;
      border-radius: 1rem;
      @include flex-center;
    }
  
    &__column {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      padding-left: 2rem;
      height: 100%;
  
      &--item {
        background-color: $Dell-Dark-Blue;
        border-radius: 1rem;
        border: 1px solid $True-White;
        box-shadow: 2px 2px 6px 0px #00000040;
        font-size: 1rem;
        margin-left: -2rem;
        cursor: pointer;
        transition: box-shadow 0.2s ease, transform 0.2s ease-in-out;
        @include flex-center;
  
        &:hover {
          box-shadow: 2px 2px 6px 0px $Dell-Light-Blue;
          transform: translateX(0.5rem);
        }
  
        &:active {
          box-shadow: $Glacier 0px 1px 3px 0px, $Dell-Light-Blue 0px 0px 0px 1px;
        }
      }
    }
  
    &__body {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  
    &__row {
      height: 4rem;
      width: 100%;
      border-radius: 1rem;
      background-color: $True-White;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
  
      &--item {
        border: 1px solid $Border-Grey;
        font-size: 0.9rem;
        color: $Table-Row-Text;
        @include flex-center;
      }
    }
  }
  
  .row-retailer {
    border-radius: 1rem 0 0 1rem;
    width: 11.25rem;
  }
  
  .row-dell-name {
    width: 19rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .row-retailer-price {
    width: 12.7rem;
  }
  
  .row-retailer-msrp {
    width: 5rem;
  }
  
  .row-retailer-deviation {
    width: 15.85rem;
    border-radius: 0 1rem 1rem 0;
  }
  
  .dashboard-column {
    &__retailer {
      width: 11rem;
      background-color: $Light-Scarlet;
      z-index: 9;
      color: $Midnight;
    }
  
    &__dell-name {
      width: 21.75rem;
      z-index: 8;
      padding-left: 2rem;
    }
  
    &__msrp {
      width: 7.2rem;
      z-index: 7;
      padding-left: 2rem;
    }
  
    &__price {
      width: 15rem;
      background-color: $Light-Scarlet;
      color: $Midnight;
      z-index: 6;
      padding-left: 2rem;
    }
  
    &__deviation {
      width: 17rem;
      z-index: 5;
      background-color: $Light-Scarlet;
      color: $Midnight;
      padding-left: 2rem;
    }
}

.export-container {
  width: 65rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 5rem;
  margin-right: 1rem;

  &__button {
    @include auth-button;

    &--text {
      font-size: 1.5rem;
      position: relative;
      z-index: 1;
    }
  }
}

.chart-label {
    display: flex;
    justify-content: center;
    font-size: .85rem;
    color: $Midnight;
    margin-top: 1rem;
    background-color: $Glacier;
    font-weight: bold;
    width: 100%;
    height: 1.5rem;
    border: 1px solid $True-White;
    box-shadow: 2px 2px 6px 0px #00000040;
    border-radius: .25rem;
    align-items: center;
    text-align: center;
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: auto;
    margin-top: 2rem;

    &__bestbuy, 
    &__newegg {
        border: 1px solid $True-White;
        box-shadow: 2px 2px 6px 0px #00000040;
        width: 27rem;
        padding: 1rem;
        border-radius: .875rem;
    }

    &__retailer-label {
        width: 7.6875rem;
        height: 3.6875rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $True-White;
        border-radius: .875rem;
        background-color: $Midnight;
        box-shadow: inset 0 0 0 3px $True-White;
    }
}