@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/global/global" as *;

.register-form {
  display: flex;
  flex-direction: column;

  &__fields {
    display: flex;
    flex-direction: column;

    &--label {
      @include input-field-labels;
      color: $Black;
      margin: 2rem 0 0.75rem 0;
    }

    &--input {
      @include input-field;
      flex: 1;
      background-color: $Light-Grey;
      line-height: 1.5rem;
      max-height: 2.5rem;
      width: 25.625rem;
      max-width: 25.625rem;
      border: 2px solid transparent;

      &:hover {
        border: 2px solid $Dell-Light-Blue;
      }

      &::placeholder {
        color: $Grey;
      }

      &:focus {
        outline: none;
        border: 2px solid $Dell-Blue;
      }
    }
  }

  &__clear {
    @include auth-button;
  }

  &__submit {
    @include create-account-button;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    width: 12.875rem;
  }
}

.cancel-button__text {
  position: relative;
  z-index: 2;
  transition: transform 0.2s ease;
  font-size: 1.5rem;
}

.register-buttons__container {
  display: flex;
  justify-content: space-between;
  height: 4.0625rem;
  margin-top: 2.5rem;
}

.register-button__text {
  position: relative;
  transition: transform 0.2s ease;
  font-size: 1.5rem;
}

.register-password__wrapper {
  display: flex;
  flex-direction: column;
}

.register-password__container {
  position: relative;
  display: flex;
  align-items: center;
}

.register-email__wrapper {
  display: flex;
  flex-direction: column;
}

.show-password {
  position: absolute;
  right: 0;
  border: none;
  height: 100%;
  border-radius: 0 2px 2px 0;
  width: 3.5rem;
  text-align: center;
  font-family: roboto-regular;
  color: $Dell-Blue;
  background-color: $Glacier;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.4s ease;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: $Dell-Blue;
    transition: left 0.4s;
    z-index: 1;
  }

  &:hover:before {
    left: 0;
  }

  &:hover {
    background-color: $Glacier;
    color: $White;
  }

  &:active {
    outline: none;
    box-shadow: none;
  }
}

.show-password__hide {
  position: relative;
  z-index: 2;
  transition: transform 0.2s ease;
}

.show-password__show {
  position: relative;
  z-index: 2;
  transition: transform 0.2s ease;
}

.password-field {
  &::placeholder {
    transform: translateY(0.25rem);
  }
}
