@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/global/global" as *;

.header-bar {
  height: 5rem;
  background-color: $Midnight;
  border-left: 1px solid $True-White;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 2.5rem;

  &__search {
    position: relative;
    width: 35.7%;

    &--icon {
      position: absolute;
      left: 1rem;
      top: 0.7rem;
    }

    &--input {
      width: 100%;
      height: 2.625rem;
      border: 2px solid transparent;
      border-radius: 4px;
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
      padding-left: 2.75rem;
      color: $Black;
      font-family: roboto-light;

      &::placeholder {
        font-family: roboto-light;
        font-size: 1rem;
      }

      &:focus {
        outline: none;
        border: 2px solid $Dell-Blue;
      }

      &:hover {
        border: 2px solid $Dell-Light-Blue;
      }

      &:active {
        border: 2px solid $Dell-Blue;
      }
    }
  }

  &__content {
    width: auto;
    max-width: 12.3124rem;
    background-color: transparent;
    height: 2.625rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
}

.alerts-link {
  background-color: $Glacier;
  width: 3.4375rem;
  @include flex-center;
  border-radius: 4px;
  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: $Glacier 0px 1px 8px;
  }
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.875rem;
  border: 1px solid $True-White;
  border-radius: 4px;
  width: auto;
  max-width: 7.9375rem;

  &__link {
    text-decoration: none;
    color: inherit;
  }

  &__titles {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 2rem;
    width: 100%;

    &--name {
      font-family: roboto-regular;
      color: $True-White;
      font-size: 0.83rem;

      &:hover {
        cursor: default;
      }
    }

    &--position {
      font-family: roboto-light;
      color: $True-White;
      font-size: 0.7rem;

      &:hover {
        cursor: default;
      }
    }
  }

  &__icon {
    width: 1.25rem;
    margin-top: 0.25rem;
  }
}

.img-cont {
  width: 20px;
}

input[type="search"]::-webkit-search-decoration:hover,
input[type="search"]::-webkit-search-cancel-button:hover {
  cursor: pointer;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
  margin-right: 1rem;
}