@use "../../styles/partials/variables" as *;

.error-message {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: -1rem;
  margin-left: 0.5rem;
  max-height: 2.5rem;

  &__icon {
    width: 1rem;
    height: 1rem;
  }

  &__text {
    color: $White;
    width: 9.6rem;
  }
}

.register-error {
  color: $Black;
  padding: 0.25rem 0;
}
